{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="hero is-medium">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class=" font-1 title-color blog_title title" style="font-size: 6rem;">
                    {{ options['blog_title'] }}
                </h1>
                <h2 class="subtitle mt-2">
                    Actus, conseils et tutos sur la technologie et le développement web.
                </h2>
            </div>
        </div>
    </section>
    <section class="blog-posts pb-5 has-black-gradient">
        {% include 'article/list.html.twig' with {"articles": articles, "featured_article" : featured_article, "page" : page} %}
    </section>
{% endblock %}