{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main class="container">
        <div class="columns">
            <div class="column is-three-quarters">
                <h3 class="title is-3 px-3">Articles récents</h3>
                <div class="px-3">
                    {% include 'article/list.html.twig' with {articles} %}
                </div>
            </div>


            <div class="column">
                <div class="sticky">
                    {% include 'widget/about.html.twig' %}
                    {% include 'widget/categories.html.twig' %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
