{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <main class="container">
        <div class="columns g-5 px-3">
            <div class="column">
                <h3 class="title is-3 pb-4 mb-4 is-italic"
                    style="border-bottom: 1px solid #e39e9e">{{ category.name }}</h3>
                <div id="article-list">
                    {% include 'article/list.html.twig' with {articles : category.articles} %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
