@charset "UTF-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$black: hsl(270, 10%, 4%);
$black-bis: hsl(270, 10%, 12%);
$black-ter: hsl(270, 10%, 20%);
$grey-darker: hsl(269, 10%, 48%);
$grey-dark: hsl(267, 10%, 56%);
$grey: hsl(270, 10%, 24%);
$grey-light: hsl(268, 10%, 68%);
$grey-lighter: hsl(265, 10%, 76%);
$grey-lightest: hsl(270, 10%, 84%);
$white-ter: hsl(240, 5%, 96%);
$white-bis: hsl(240, 5%, 98%);
$white: hsl(240, 5%, 100%);
$orange: hsl(46, 54%, 62%);
$yellow: hsl(87, 68%, 87%);
$green: hsl(125, 51%, 50%);
$turquoise: hsl(184, 67%, 49%);
$blue: hsl(218, 81%, 73%);
$purple: hsl(279, 97%, 29%);
$red: hsl(4, 88%, 32%);
// Import all from bulma


$font_title: 'Indie Flower', serif;
$color_title: #D4C669;
$font_body: 'Raleway', sans-serif;
$color_body: #E4D4DC;
$article_title_color: #DAD1F7;

@import "bulma";


.font-1 {
  font-family: $font_title;
}

.title-color {
  color: $color_title !important;
}

.article_title_color {
  color: $article_title_color !important;
}

body {
  font-family: $font_body;
  font-size: 1.2rem;
  line-height: 1.5;
  color: $color_body;
  background: $black;
}

.form-box {
  background: $black-ter !important;
  color: $white !important;
  border-color: $white !important;

  input {
    border-color: $white !important;
    background: $black-bis !important;

    &::placeholder {
      color: $grey-light !important;
    }
  }
}

.user_link {
  font-family: $font_title;
}


.is-not-hoverable {
  &:hover {
    background-color: transparent !important;
  }
}

html, body {
  scroll-behavior: smooth;
  background-color: $black-bis;
}

a {
  color: $blue;

  &:hover {
    color: $turquoise;
  }
}

hr {
  background-color: $grey-lightest;
}

.hero {
  background-color: $black;
}

.title, .subtitle {
  color: $white;
}

.navbar .navbar-item {
  color: $white-ter;
}

.is-hoverable:hover .navbar-link {
  background-color: transparent;
}

.navbar .navbar-item.is-active {
  color: $white-bis;
  font-weight: 700;
}

.navbar .navbar-item:hover {
  background: transparent;
  color: $white-bis;
}

.navbar .navbar-item a {
  margin-left: 1rem;
  color: $white-ter;
}

.va {
  display: flex;
  align-items: center;
}

.blog-posts {
  min-height: 100vh;
  padding-top: 4rem;
  border-top: 1px solid $grey-lightest;
}

.has-black-gradient {
  background: linear-gradient(0deg, $black 0%, $black 25%, $black-bis 50%, $black 75%, $black 100%);
}

.post-img {
  figure {
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.blog-posts article {
  padding: 1.5rem;
}

.blog-posts .post-img {
  border-radius: 6px;
}

.blog-posts .post .post-title {
  font-size: 2.2rem;
}

.blog-posts .post .post-excerpt {
  line-height: 1.5rem;
  letter-spacing: .03rem;
  font-size: 1.2rem;
}

.blog-posts .post .featured .featured-image img {
  height: 380px;
}

.navbar-dropdown {
  background-color: $black-ter;
}

.leftbox {
  border-right: 1px solid $grey-light;
  @media (max-width: 768px) {
    border-right: none;
    border-bottom: 1px solid $grey-light;
  }
}

