{% extends 'base.html.twig' %}
{% block body %}
    <div class="has-text-centered py-5 is-flex is-flex-direction-column is-justify-content-center is-align-items-center" style="min-height: 100vh">
        <h2 class="title">
            {% block message %}{% endblock %}
        </h2>
        <p class="subtitle">
            {% block description %} {% endblock %}
        </p>
    </div>

{% endblock %}