<div class="container">
    <div class="columns">
        <div class="column is-10 is-offset-1">
            {% if page == 1 %}
                <div class="columns featured-post is-multiline">
                    <div class="column is-12 post">
                        {% include 'article/item_first.html.twig' with { "article" : featured_article } %}
                    </div>
                </div>
                <hr>
            {% endif %}
            <div class="columns is-multiline">
                {% for article in articles %}
                    <div class="column post is-6">
                        {% include 'article/item.html.twig' with { article } %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container is-flex is-justify-content-center is-align-items-center mt-5 ">
    {{ knp_pagination_render(articles) }}
</div>
