{% for article in articles %}
    <div class="box has-background-white-ter">
        {% include 'article/item.html.twig' with { article } %}
    </div>
{% endfor %}

<div class="container is-flex is-justify-content-center is-align-items-center">
    {{ knp_pagination_render(articles) }}
</div>