{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="hero is-fullheight form form-login">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns">
                    <div class="column is-6 is-offset-3">
                        <div class="card">
                            <div class="card-header">
                                <p class="card-header-title">
                                    @{{ user.username }}
                                </p>
                            </div>
                            <div class="card-content">
                                <div class="box">
                                    <div class="content">
                                        <p>
                                            {{ user.comment.count }} commentaires
                                        </p>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="content">
                                        <p>
                                            4 posts likés
                                        </p>
                                        <div class="content">
                                            <p>
                                                Post 1
                                            </p>
                                            <p>
                                                Post 1
                                            </p>
                                            <p>
                                                Post 1
                                            </p>
                                            <p>
                                                Post 1
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
