<div class="p-4">
    <h4 class="is-italic is-4">Catégories</h4>
    <ol style="list-style-type: none;">
        <li class="is-size-6">
            <a class="is-link" href="#">I-Tech</a>
        </li>
        <li class="is-size-6">
            <a class="is-link" href="#">Intelligence Artificielle</a>
        </li>
    </ol>
</div>